.space5 {
  height: 5px;
  width: 100%;
  display: block;
}
.space10 {
  height: 10px;
  width: 100%;
  display: block;
}
.space20 {
  height: 20px;
  width: 100%;
  display: block;
}
.space30 {
  height: 30px;
  width: 100%;
  display: block;
}
.space40 {
  height: 40px;
  width: 100%;
  display: block;
}
.space50 {
  height: 50px;
  width: 100%;
  display: block;
}
.space60 {
  height: 60px;
  width: 100%;
  display: block;
}
.space70 {
  height: 70px;
  width: 100%;
  display: block;
}
.centerAbsolute {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 38px;
  margin-left: -16px;
  margin-top: -19px;
}
.whiteBox {
  background-color: #fff;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.shadow {
  border: 1px solid #e0e0e0;
}
.layoutPadding {
  position: relative;
  padding: 50px 40px;
}
.line {
  border-top: 1px solid #edf0f5;
  width: 100%;
  margin: 5px auto;
}